<html>
<body>
<h1>{{.Header}}</h1>
<img src="{{.MainPNG}}" alt="{{.MainTitle}}"/><br/>
{{ if .Nested }}
    <h2>Possible anomalies, check it manually</h2>
    {{ range $alt, $url := .Nested }}
    <img src="{{ $url }}" alt="{{$alt}}"/><br/>
    {{ end}}
{{end}}
</body>
</html>`